@{
    ViewBag.Title = "ImportOtherDeductionEarning";
}
@using UIHelper.MVC
<div class="headrow">
    <label class="pull-right">Employee Other Deduction > Employee Other Deduction Excel Import/Export</label>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p>Employee Other Deduction</p>
    </div>
    <div class="row">
         <div class="thinbox col-md-12">
            <div class="th_thinbox">
                <p>Employee Other Deduction Import </p>
            </div>
         @using (Html.BeginForm("ImportOtherDeductionEarningExcel", "EmployeeOtherDeduction", FormMethod.Post, new { enctype = "multipart/form-data", id = "ImportExcel" }))
            { 
                <div class="col-md-6">
                     <div class="col-md-6"></div>
                     <div class="col-md-6">
                    <label>File</label>
                    <input type="file" accept=".xls" name="file" id="FileUpload" style="width: 200px;" class="required" />
                         </div>
                </div>
                <div class="col-md-6">
                    <label>&nbsp;</label>
                    <button type="button"  onclick="pageSubmit('ImportExcel');" class="sym-btn-file-upload" value="Upload" style="width: 50%; text-align: center;">&nbsp;Upload</button>
                </div>
            }
        </div>
        <div class="thinbox col-md-12">
            <div class="th_thinbox">
                <p>Employee Other Deduction Export</p>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <div class="editor-label">
                        <label>Year</label>
                    </div>
                    <div class="editor-field">
                        <div>@Html.TextBox("fYear", @Session["SessionYear"].ToString(), new { @class = "fiscalyearCom form-control" }) </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Fiscal Period</label>
                    </div>
                    <div class="editor-field">
                        <div>
                            @Html.SimpleDropDown("FiscalPeriodDetailId", "/Config/DropDown/DropDownPeriodByFYear?year=" + @Session["SessionYear"].ToString(), new { @class = "required fpDetailsCom form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label">
                        <label>Employee Code(From)</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("CodeF", "/Config/DropDown/EmployeeCode", new { @class = "codeFCom form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label">
                        <label>Employee Code(To)</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("CodeT", "/Config/DropDown/EmployeeCode", new { @class = "codeTCom form-control" })

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label">
                        <label>Designation</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("DesignationId", "/Config/DropDown/Designation", new { @class = " form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="editor-label">
                        <label>Department</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("DepartmentId", "/Config/DropDown/Department", new { @class = "departmentsCom form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="editor-label">
                        <label>Section</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("SectionId", "/Config/DropDown/Section", new { @class = "sectionsCom form-control" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Project</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("ProjectId", "/Config/DropDown/Project", new { @class = "projectsCom form-control" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Deduction Type</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("DeductionTypeId", "/Config/DropDown/DeductionTypeDropDown", new { @id = "DTId", @class = "required DeductionTypeId dType form-control" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Order By</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("Orderby", "/Config/DropDown/EnumOrderBy?Module=Salary", new { @class = "required form-control selectDropdown" })
                    </div>
                </div>

            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-1">
                    <label>&nbsp;</label>
                    <button id="btnSearch" class="sym-btn-Excel-Export" type="button">&nbsp;Download</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        InitDropdownsCommon();
        valiDation('ImportExcel');
    });
    $('#btnSearch').click(function () {
        var ProjectId = $("#ProjectId").val();
        var DepartmentId = $("#DepartmentId").val();
        var SectionId = $("#SectionId").val();
        var DesignationId = $("#DesignationId").val();
        var CodeF = $("#CodeF").val();
        var CodeT = $("#CodeT").val();
        var DTId = $("#DeductionTypeId").val();
        var fid = $("#FiscalPeriodDetailId").val();
        var Orderby = $("#Orderby").val();

        if (fid == "") {
            ShowResult('failure', "Please Select Fiscal year");
            return;
        }
        if (DTId == "") {
            ShowResult('Fail', "Please Select  Deduction Type!");
            return false;
        }
        if (Orderby == "") {
            ShowResult('Fail', "Please Select Order By ");
            return false;
        }

        window.location = '@Url.Action("DownloadOtherDeductionEarningExcel", "EmployeeOtherDeduction")' + '?fid=' + fid
                  + '&ProjectId=' + ProjectId
                  + '&DepartmentId=' + DepartmentId
                  + '&SectionId=' + SectionId
                  + '&DesignationId=' + DesignationId
                  + '&CodeF=' + CodeF
                  + '&CodeT=' + CodeT
                  + '&DTId=' + DTId
                  + '&Orderby=' + Orderby

    });

</script>


