@using UIHelper.MVC
@using SymOrdinary
@using System.Threading;
@{ 
    ShampanIdentity identity = null;
    try
    {
        identity = (ShampanIdentity)Thread.CurrentPrincipal.Identity;
    }
    catch (Exception)
    {
        Response.Redirect("/Home/Index");
        return;
    }
}
<div class="thinbox">
    <div class="th_thinbox">
        <p>Employee Attendance</p>
    </div>
    @if (identity.IsAdmin || identity.IsHRM)
    {
        <div class="row">
            <div class="col-md-2">
                <div class="editor-label">
                    <label>Emp Code(From)</label>
                </div>
                <div class="editor-field">
                    @Html.SimpleDropDown("CodeF", "/Config/DropDown/EmployeeCodeName", new { @class = "codeFCom form-control selectDropdown" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="editor-label">
                    <label>Emp Code(To)</label>
                </div>
                <div class="editor-field">
                    @Html.SimpleDropDown("CodeT", "/Config/DropDown/EmployeeCodeName", new { @class = "codeTCom form-control selectDropdown" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="editor-label">
                    <label>Designation</label>
                </div>
                <div class="editor-field">
                    @Html.SimpleDropDown("DesignationId", "/Config/DropDown/Designation", new { @class = " form-control" })
                </div>
            </div>

            <div class="col-md-2">
                <label>Join Date From</label>
                @Html.TextBox("dtpFrom", null, new { @onchange = "DateCheck(this);", @placeholder = "Join Date From", @class = "customDatePicker form-control" })
            </div>

            <div class="col-md-2">
                <label>Join Date To</label>
                @Html.TextBox("dtpTo", null, new { @onchange = "DateCheck(this);", @placeholder = "Join Date To", @class = "customDatePicker form-control" })
            </div>
        </div>
          }


    <div class="row">
        @if (identity.IsAdmin || identity.IsHRM)
        {
            <div class="col-md-2">
                <div class="editor-label">
                    <label>@Session["DepartmentLabel"]</label>
                </div>
                <div class="editor-field">
                    @Html.SimpleDropDown("DepartmentId", "/Config/DropDown/Department", new { @class = "departmentsCom form-control" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="editor-label">
                    <label>@Session["SectionLabel"]</label>
                </div>
                <div class="editor-field">
                    @Html.SimpleDropDown("SectionId", "/Config/DropDown/Section", new { @class = "sectionsCom form-control" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="editor-label">
                    <label>@Session["ProjectLabel"]</label>
                </div>
                <div class="editor-field">
                    @Html.SimpleDropDown("ProjectId", "/Config/DropDown/Project", new { @class = "projectsCom form-control" })
                </div>
            </div>
          }

        <div class="col-md-2">
            <label>Attendance Date From</label>
            @Html.TextBox("dtAtnFrom", null, new { @placeholder = "Attendance Date From", @onchange = "DateCheck(this);", @class = "required customDatePicker form-control" })
        </div>
        <div class="col-md-2">
            <label>Attendance Date To</label>
            @Html.TextBox("dtAtnTo", null, new { @placeholder = "Attendance Date To", @onchange = "DateCheck(this);", @class = "required customDatePicker form-control" })
        </div>
         @if ((string)ViewBag.ReportNo == "2")
         {
          <div class="col-md-2">
            <div class="editor-label">
                <label>Attendance Status</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("AttendanceStatus", "/Config/DropDown/AttnStatusName", new { @class = "attnStatus form-control " })
            </div>
        </div>
         }
        @* <div class="col-md-2">
            <label>Punch Miss In/Out</label>
           <select id="Punch">
               <option value="">Select</option>
               <option value="PunchMissIn">PunchMissIn</option>
               <option value="PunchMissOut">PunchMissOut</option>
           </select>
        </div>*@
       @* <div class="col-md-2">
            <label>Punch Miss Out</label>
            @Html.TextBox("PunchMissOut", null, new { @placeholder = "Attendance Date To", @onchange = "DateCheck(this);", @class = " customDatePicker form-control" })
        </div>*@
        @Html.Hidden("ReportNo")

@*        <div class="col-md-2">
            <div class="editor-label">
                <label>Attendence Status</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("AttnStatus", "/Config/DropDown/AttnStatusName", new { @class = " form-control" })
            </div>
        </div>*@
    </div>

    <div class="row">
        <div class="col-md-1">
            <label>&nbsp;</label>
            @Html.ActionLink(" Report", "EA", null, new { target = "_blank", id = "sendRpt", @class = "sym-btn-report" })
        </div>
        <div class="col-md-1">
            <label>&nbsp;</label>
            <a href="#" type="button" title="Clear the Entries" id="Clear" class="sym-btn-clear">&nbsp;Clear</a>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            InitDropdownsCommon();
            $('#sendRpt').click(function () {
                var CodeF = $("#CodeF").val();
                var CodeT = $("#CodeT").val();
                var DepartmentId = $("#DepartmentId").val();
                var ProjectId = $("#ProjectId").val();
                var SectionId = $("#SectionId").val();
                var DesignationId = $("#DesignationId").val();
                var dtpFrom = $("#dtpFrom").val();
                var dtpTo = $("#dtpTo").val();
                var dtAtnFrom = $("#dtAtnFrom").val();
                var dtAtnTo = $("#dtAtnTo").val();
                var AttnStatus = $("#AttnStatus").val();
                var ReportNo = $("#ReportNo").val();
                var Punch = $("#Punch").val();
                var AttendanceStatus = $("#AttendanceStatus").val();
                if (dtAtnFrom == "") {
                    ShowResult('Fail', "Please Select  Attendance Date from");
                    return false;
                }
                else if (dtAtnTo == "") {
                    ShowResult('Fail', "Please Select  Attendance Date To");
                    return false;
                }
                this.href = this.href.split('?')[0] + '?CodeF=' + CodeF
               + '&CodeT=' + CodeT
               + '&DepartmentId=' + DepartmentId
               + '&SectionId=' + SectionId
               + '&ProjectId=' + ProjectId
               + '&DesignationId=' + DesignationId
               + '&dtpFrom=' + dtpFrom
               + '&dtpTo=' + dtpTo
               + '&dtAtnFrom=' + dtAtnFrom
               + '&dtAtnTo=' + dtAtnTo
               + '&AttnStatus=' + AttnStatus
               + '&ReportNo=' + ReportNo
               + '&Punch=' + Punch
               + '&AttendanceStatus=' + AttendanceStatus
        
            });
        });
        $("#Clear").on('click', function () {
            $("#ProjectId").val("1");
            $("#DepartmentId").val("1");
            $("#SectionId").val("1");
            $("#DesignationId").val("1");
            $("#CodeF").val("1");
            $("#CodeT").val("1");
            $("#dtpFrom").val("");
            $("#dtpTo").val("");
            $("#dtAtnFrom").val("");
            $("#dtAtnTo").val("");
            $("#AttnStatus").val("");
            $("#Punch").val("");
            $("#AttendanceStatus").val("");
         
        });

        function DateCheck(sender) {
            var joinDateFrom = ParseDate($("#dtpFrom").val());
            var joinDateTo = ParseDate($("#dtpTo").val());

            var attnDateFrom = ParseDate($("#dtAtnFrom").val());
            var attnDateTo = ParseDate($("#dtAtnTo").val());

            if (joinDateFrom > joinDateTo) {
                ShowResult("Fail", "Join-Date From can't be prior to Join-Date To!");
                $(sender).val("");
            }

            if (attnDateFrom > attnDateTo) {
                ShowResult("Fail", "Attendence-Date From can't be prior to Attendence-Date To!");
                $(sender).val("");
            }
        }

    </script>
}