@using UIHelper.MVC
@using SymOrdinary
@using System.Threading;
@{
    ShampanIdentity identity = null;
    try
    {
        identity = (ShampanIdentity)Thread.CurrentPrincipal.Identity;
    }
    catch (Exception)
    {
        Response.Redirect("/Home/Index");
        return;
    }
}
@using (Html.BeginForm("LBEW", "EmployeeReport"))
{
    <div class="thinbox">
        <div class="th_thinbox">
            @if ((string)ViewBag.RT == "LBEW")
            {
                <p>Leave Balance (Employee Wise)</p>
            }
            else if ((string)ViewBag.RT == "LBTW")
            {
                <p>Leave Balance (Type Wise)</p>
            }
            else if ((string)ViewBag.RT == "LSEW")
            {
                <p>Leave Status (Employee Wise)</p>
            }
            else if ((string)ViewBag.RT == "LR")
            {
                <p>Leave Register (Employee Wise)</p>
            }
            else if ((string)ViewBag.RT == "SLSEW")
            {
                <p>Summary Leave Status (Employee Wise)</p>
            }
        </div>
        @if (identity.IsAdmin || identity.IsHRM)
        {
            <div class="row">
                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Emp Code(From)</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("CodeF", "/Config/DropDown/EmployeeCodeName", new { @class = "codeFCom form-control selectDropdown" })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Emp Code(To)</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("CodeT", "/Config/DropDown/EmployeeCodeName", new { @class = "codeTCom form-control selectDropdown" })

                    </div>
                </div>

                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Designation</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("DesignationId", "/Config/DropDown/Designation", new { @class = " form-control" })
                    </div>
                </div>

                <div class="col-md-2">
                    <label>Join Date From</label>
                    @Html.TextBox("dtpFrom", null, new { @onchange = "DateCheck(this);", @placeholder = "Join Date From", @class = "customDatePicker form-control" })
                </div>

                <div class="col-md-2">
                    <label>Join Date To</label>
                    @Html.TextBox("dtpTo", null, new { @onchange = "DateCheck(this);", @placeholder = "Join Date To", @class = "customDatePicker form-control" })
                </div>
            </div>
        }

        <div class="row">
            @if (identity.IsAdmin || identity.IsHRM)
            {

                <div class="col-md-2">
                    <div class="editor-label">
                        <label>@Session["DepartmentLabel"]</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("DepartmentId", "/Config/DropDown/Department", new { @class = "departmentsCom form-control" })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="editor-label">
                        <label>@Session["SectionLabel"]</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("SectionId", "/Config/DropDown/Section", new { @class = "sectionsCom form-control" })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="editor-label">
                        <label>@Session["ProjectLabel"]</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("ProjectId", "/Config/DropDown/Project", new { @class = "projectsCom form-control" })
                    </div>
                </div>
            }
            <div class="col-md-2">
                <label>Year</label>
                @if ((string)ViewBag.RT == "LSEW")
                {
                    @Html.SimpleDropDown("leaveyear", "/Config/DropDown/Year", new { @class = "required form-control" })
                }
                else
                {
                    @Html.SimpleDropDown("leaveyear", "/Config/DropDown/Year", new { @class = " form-control" })
                }
            </div>
            @if ((string)ViewBag.RT != "SLSEW")
            {
                <div class="col-md-2">
                    <label>Leave Type</label>
                    @Html.SimpleDropDown("LeaveType", "/Config/DropDown/LeaveType", new { @class = "form-control" })
                </div>
            }
        </div>

        <div class="row">
            @if (identity.IsAdmin || identity.IsHRM)
            {
                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Gender</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("Gender_E", "/Config/DropDown/Gender", new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Religion</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("Religion", "/Config/DropDown/Religion", new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Grade</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("GradeId", "/Config/DropDown/Grade", new { @class = "form-control" })
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Emp Category</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("EmpCategory", "/Config/DropDown/EmpCategory", new { @placeholder = "Emp Category", @class = "EmpCategory form-control " })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Emp JobType</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("EmpJobType", "/Config/DropDown/EMPType", new { @placeholder = "Emp Job Type", @class = "EmpJobType form-control " })
                    </div>
                </div>
            }
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label>&nbsp;</label>
                @Html.ActionLink(" Report", "LBEW", null, new { target = "_blank", id = "sendRpt", @class = "sym-btn-report" })
            </div>
           @if ((string)ViewBag.RT == "LR")
           {
            <div class="col-md-1">
                <label>&nbsp;</label>
                @Html.ActionLink(" Download", "Export", null, new { target = "_blank", id = "Export", @class = "sym-btn-Excel-Export" })
            </div>
               
           }

            <div class="col-md-1">
                <label>&nbsp;</label>
                <a href="#" type="button" title="Clear the Entries" id="Clear" class="sym-btn-clear">&nbsp;Clear</a>
            </div>
        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>



        ////Using .param

        //$(function () {

        //    $('#sendRpt').click(function () {
        //        var abc = {
        //            "CodeF": ""
        //            , "CodeT": ""
        //            , "Name": ""
        //            , "Department": ""
        //            , "Project": ""
        //            , "dtpFrom": ""
        //            , "dtpTo": ""
        //            , "leaveyear": ""
        //            , "LeaveType": ""
        //        };
        //        abc.CodeF = $("#CodeF").val();
        //        abc.CodeT = $("#CodeT").val();
        //        abc.Name = $("#Name").val();
        //        abc.Department = $("#Department").val();
        //        abc.Project = $("#Project").val();
        //        abc.dtpFrom = $("#dtpFrom").val();
        //        abc.dtpTo = $("#dtpTo").val();

        //        abc.leaveyear = $("#leaveyear").val();
        //        abc.LeaveType = $("#LeaveType").val();

        //        this.href = this.href.split('?')[0] + "?" + $.param(abc)+ '&ReportNo=1';
        //    });
        //});



        //!BackUp
        $(function () {
            InitDropdownsCommon();
            $('#sendRpt').click(function () {
                var RT = '@ViewBag.RT';

                var CodeF = $("#CodeF").val();
                var CodeT = $("#CodeT").val();
                var DepartmentId = $("#DepartmentId").val();
                var SectionId = $("#SectionId").val();
                var ProjectId = $("#ProjectId").val();
                var DesignationId = $("#DesignationId").val();
                var dtpFrom = $("#dtpFrom").val();
                var dtpTo = $("#dtpTo").val();
                var leaveyear = $("#leaveyear").val();              

                if (RT == "LSEW") {
                    if (leaveyear == "") {
                        ShowResult('Fail', "Please Select The Leave Year");
                        return false;
                    }
                }
                if (RT == "SLSEW") {
                    if (leaveyear == "") {
                        ShowResult('Fail', "Please Select The Leave Year");
                        return false;
                    }
                }
                var LeaveType = $("#LeaveType").val();
                var Gender_E = $("#Gender_E").val();
                var Religion = $("#Religion").val();
                var GradeId = $("#GradeId").val();
                var EmpCategory = $("#EmpCategory").val();
                var EmpJobType = $("#EmpJobType").val();


                //if (ReportNo == "2") {
                //    ShowResult('Fail', "Please Select Leave Type");
                //    return false;
                //}
                this.href = this.href.split('?')[0] + '?CodeF=' + CodeF
               + '&CodeT=' + CodeT
               + '&DepartmentId=' + DepartmentId
               + '&SectionId=' + SectionId
               + '&ProjectId=' + ProjectId
               + '&DesignationId=' + DesignationId
               + '&dtpFrom=' + dtpFrom
               + '&dtpTo=' + dtpTo
               + '&leaveyear=' + leaveyear
               + '&ReportNo=1'
               + '&LeaveType=' + LeaveType
               + '&Gender_E=' + Gender_E
               + '&Religion=' + Religion
               + '&GradeId=' + GradeId
                + '&EmpCategory=' + EmpCategory
               + '&EmpJobType=' + EmpJobType
               + '&RT=' + RT

            });

            $('#Export').click(function () {
                var RT = '@ViewBag.RT';

                var CodeF = $("#CodeF").val();
                var CodeT = $("#CodeT").val();
                var DepartmentId = $("#DepartmentId").val();
                var SectionId = $("#SectionId").val();
                var ProjectId = $("#ProjectId").val();
                var DesignationId = $("#DesignationId").val();
                var dtpFrom = $("#dtpFrom").val();
                var dtpTo = $("#dtpTo").val();
                var leaveyear = $("#leaveyear").val();

                if (RT == "LSEW") {
                    if (leaveyear == "") {
                        ShowResult('Fail', "Please Select The Leave Year");
                        return false;
                    }
                }
                if (RT == "SLSEW") {
                    if (leaveyear == "") {
                        ShowResult('Fail', "Please Select The Leave Year");
                        return false;
                    }
                }
                var LeaveType = $("#LeaveType").val();
                var Gender_E = $("#Gender_E").val();
                var Religion = $("#Religion").val();
                var GradeId = $("#GradeId").val();
                var EmpCategory = $("#EmpCategory").val();
                var EmpJobType = $("#EmpJobType").val();


                //if (ReportNo == "2") {
                //    ShowResult('Fail', "Please Select Leave Type");
                //    return false;
                //}
                this.href = this.href.split('?')[0] + '?CodeF=' + CodeF
               + '&CodeT=' + CodeT
               + '&DepartmentId=' + DepartmentId
               + '&SectionId=' + SectionId
               + '&ProjectId=' + ProjectId
               + '&DesignationId=' + DesignationId
               + '&dtpFrom=' + dtpFrom
               + '&dtpTo=' + dtpTo
               + '&leaveyear=' + leaveyear
               + '&ReportNo=1'
               + '&LeaveType=' + LeaveType
               + '&Gender_E=' + Gender_E
               + '&Religion=' + Religion
               + '&GradeId=' + GradeId
               + '&EmpCategory=' + EmpCategory
               + '&EmpJobType=' + EmpJobType
               + '&RT=' + RT

            });
        });


        $("#Clear").on('click', function () {
            $("#ProjectId").val("1");
            $("#DepartmentId").val("1");
            $("#SectionId").val("1");
            $("#DesignationId").val("1");
            $("#CodeF").val("1");
            $("#CodeT").val("1");
            $("#dtpFrom").val("");
            $("#dtpTo").val("");
            $("#Gender_E").val("1");
            $("#Religion").val("1");
            $("#GradeId").val("1");
        });

        function DateCheck(sender) {
            var joinDateFrom = ParseDate($("#dtpFrom").val());
            var joinDateTo = ParseDate($("#dtpTo").val());

            if (joinDateFrom > joinDateTo) {
                ShowResult("Fail", "Join-Date From can't be prior to Join-Date To!");
                $(sender).val("");
            }
        }
    </script>
}