@model SymViewModel.HRM.EmployeeInfoVM
@using UIHelper.MVC
@using SymOrdinary
@using System.Threading;
@{ 
    ShampanIdentity identity = null;
    try
    {
        identity = (ShampanIdentity)Thread.CurrentPrincipal.Identity;
    }
    catch (Exception)
    {
        Response.Redirect("/Home/Index");
        return;
    }
}
@{
    ViewBag.Title = "Letters";
}
@using (Html.BeginForm("Letters", "EmployeeReport", FormMethod.Post, new { enctype = "multipart/form-data", @Id = "frmLetter", @target = "_blank" }))
{
    <div class="thinbox">
        <div class="th_thinbox">
            <p>Letters</p>
        </div>
        <div class="row">
            @if (identity.IsAdmin || identity.IsHRM)
            {
                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Emp Code(From)</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDownFor(model => model.CodeF, "/Config/DropDown/EmployeeCodeName", new { @class = "codeFCom form-control  selectDropdown" })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Emp Code(To)</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDownFor(model => model.CodeT, "/Config/DropDown/EmployeeCodeName", new { @class = "codeTCom form-control selectDropdown" })

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="editor-label">
                        <label>Multiple Emplyee Code</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDown("MultiCode", "/Config/DropDown/EmployeeCodeName", new { @class = " form-control selectDropdown", @multiple = "multiple" })
                        @Html.HiddenFor(model => model.MultipleCode)
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-3">
                    <div class="editor-label">
                        <label>Emp Code</label>
                    </div>
                    <div class="editor-field">
                        @Html.HiddenFor(model => model.CodeF)
                        @Html.SimpleDropDownFor(model => model.CodeF, "/Config/DropDown/EmployeeCodeName", new { @class = " codeFCom form-control ", @disabled = "disabled" })
                    </div>
                </div>
            }
        </div>
        <div class="row">
            @if (identity.IsAdmin || identity.IsHRM)
            {   
                <div class="col-md-2">
                    <div class="editor-label">
                        <label>Designation</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDownFor(model => model.DesignationId, "/Config/DropDown/Designation", new { @class = " form-control" })
                    </div>
                </div>

                <div class="col-md-2">
                    <label>Join Date From</label>
                    @Html.TextBoxFor(model => model.JoinDateFrom, null, new { @onchange = "DateCheck(this);", @placeholder = "Join Date From", @class = "customDatePicker form-control" })
                </div>

                <div class="col-md-2">
                    <label>Join Date To</label>
                    @Html.TextBoxFor(model => model.JoinDateTo, null, new { @onchange = "DateCheck(this);", @placeholder = "Join Date To", @class = "customDatePicker form-control" })
                </div>
                <div class="col-md-2">
                    <div class="editor-label">
                        <label>@Session["DepartmentLabel"]</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDownFor(model => model.DepartmentId, "/Config/DropDown/Department", new { @class = "departmentsCom form-control" })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="editor-label">
                        <label>@Session["SectionLabel"]</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDownFor(model => model.SectionId, "/Config/DropDown/Section", new { @class = "sectionsCom form-control" })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="editor-label">
                        <label>@Session["ProjectLabel"]</label>
                    </div>
                    <div class="editor-field">
                        @Html.SimpleDropDownFor(model => model.ProjectId, "/Config/DropDown/Project", new { @class = "projectsCom form-control" })
                    </div>
                </div>
               
            }
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Date From</label>
                @Html.TextBoxFor(model => model.DateFrom, null, new { @onchange = "DateCheck(this);", @placeholder = "Date From", @class = "customDatePicker form-control" })
            </div>

            <div class="col-md-2">
                <label>Date To</label>
                @Html.TextBoxFor(model => model.DateTo, null, new { @onchange = "DateCheck(this);", @placeholder = "Date To", @class = "customDatePicker form-control" })
            </div>


            <div class="col-md-3">
                <div class="editor-label">
                    @Html.Label("Reference Number")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ReferenceNumber, "BESL-HR_", new { @placeholder = "Reference Number", @class = "  form-control" })
                </div>
            </div>


            <div class="col-md-3">
                <div class="editor-label">
                    @Html.Label("IssueDate")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.IssueDate, "", new { @placeholder = "Issue Date", @class = " customDatePicker form-control" })
                </div>
            </div>



            <div class="col-md-2">
                <div class="editor-label">
                    <label>Letter Name</label>
                </div>
                <div class="editor-field">
                    @Html.SimpleDropDownFor(model => model.LetterName, "/Config/DropDown/DropDownReport?ReportType=HRMLetter", new { @class = "required form-control " })
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.View)
    </div>
    
    <div class="headrow">
        <button type="button" title="Click to see the Letter" id="sendRpt" class="sym-btn-report">&nbsp;Letter</button>
        &nbsp;
        @if (identity.IsAdmin || identity.IsHRM)
        {
            <button type="button" title="Clear the Entries" id="Clear" class="sym-btn-clear">&nbsp;Clear</button>
        }
    </div>
}

<script>
    $(function () {
        InitDropdownsCommon();
        valiDation("frmLetter");


        $('#sendRpt').click(function () {

            var MultipleCode = $('#MultiCode').val();
            $('#MultipleCode').val(MultipleCode);
            $('#View').val("N");


            pageSubmit('frmLetter')
        });


        $("#Clear").on('click', function () {
            $(".thinbox :input").val("");
            $(".Dropdown").select2("val", "");
        });

    });

    function DateCheck(sender) {
        var joinDateFrom = $("#JoinDateFrom").val();
        var joinDateTo = $("#JoinDateTo").val();
        var dateFrom = $("#DateFrom").val();
        var dateTo = $("#DateTo").val();

        if (joinDateFrom != null && joinDateTo != null) {

            if (ParseDate(joinDateFrom) > ParseDate(joinDateTo)) {
                ShowResult("Fail", "Join-Date From can't be prior to Join-Date To!");
                $(sender).val("");
            }
        }

        if (dateFrom != null && dateTo != null) {
            if (ParseDate(dateFrom) > ParseDate(dateTo)) {
                ShowResult("Fail", "Date From can't be prior to Date To!");
                $(sender).val("");
            }
        }
    }

</script>

