@model SymViewModel.Payroll.MyBkash
@using UIHelper.MVC

@{
    Layout = null;
}
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

           <div class="thinbox">

        <div class="row">
            <label class="col-sm-4">
                @Html.LabelFor(model => model.Amount)
            </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Amount, null, new {@placeholder = "Amount", @class =" required form-control" })
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4 ">
                @Html.LabelFor(model => model.TRXREF)
            </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.TRXREF, null, new {@placeholder = "TRX REF.", @class ="required form-control" })
                @Html.ValidationMessageFor(model => model.TRXREF)
            </div>
        </div>
                  <div class="row">
            <label class="col-sm-4 ">
                @Html.LabelFor(model => model.TRXID)
            </label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.TRXID, null, new {@placeholder = "TRX ID", @class ="required form-control" })
                @Html.ValidationMessageFor(model => model.TRXID)
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </label>
            
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
