@using UIHelper.MVC
<div class="thinbox">
    <div class="th_thinbox">
        <p>Tax Schedule1 Monthly</p>
    </div>
    <div class="Product">
         <div class="row">
                <div class="col-md-1">
            <div class="editor-label">
                <label>Year</label>
            </div>
            <div class="editor-field">
                <div>@Html.TextBox("fYear", @Session["SessionYear"] as string, new { @class = "fiscalyearCom form-control" }) </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                <label>Fiscal Period From</label>
            </div>
            <div class="editor-field">
                <div>
                    @Html.SimpleDropDown("FiscalPeriodDetailId", "/Config/DropDown/DropDownPeriodByFYear?year=" + @Session["SessionYear"].ToString(), new { @class = " fpDetailsCom required form-control selectDropdown" })
                </div>
            </div>
        </div>

             <div class="col-md-2">
            <div class="editor-label">
                <label>Fiscal Period To</label>
            </div>
            <div class="editor-field">
                <div>
                    @Html.SimpleDropDown("FiscalPeriodDetailId", "/Config/DropDown/DropDownPeriodByFYear?year=" + @Session["SessionYear"].ToString(), new { @class = " fpDetailsComTo required form-control selectDropdown" })
                </div>
            </div>
        </div>


             <div class="col-md-3">
            <div class="editor-label">
                <label>Emp Code(From)</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("CodeF", "/Config/DropDown/EmployeeCodeName", new { @class = "codeFCom form-control selectDropdown" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="editor-label">
                <label>Emp Code(To)</label>
            </div>
            <div class="editor-field">
                @Html.SimpleDropDown("CodeT", "/Config/DropDown/EmployeeCodeName", new { @class = "codeTCom form-control selectDropdown" })
            </div>
        </div>


            

        </div>
    </div>
</div>
<div class="headrow">
    <button type="button" title="Click for Report" data-url="/Tax/TaxReport/TaxSchedule1MonthlyReportView" onclick="reportData(this);" id="" class="sym-btn-report">&nbsp;Report</button>
</div>
<script>
    $(function () {
        InitDropdownsCommon();
    });

    function reportData(sender) {
        var url = $(sender).attr('data-url');
        var empCodeF = $("#CodeF :selected").val();
        var empCodeT = $("#CodeT :selected").val();
        var fydIdFrom = $(".fpDetailsCom :selected").val();
        var fydIdTo = $(".fpDetailsComTo :selected").val();

         
        rptObj = new Object();
        rptObj.empCodeF = empCodeF;
        rptObj.empCodeT = empCodeT;
        rptObj.fydIdFrom = fydIdFrom;
        rptObj.fydIdTo = fydIdTo;

        var rptParam = $.param(rptObj);
        url = url + "?" + rptParam;
        var win = window.open(url, '_blank');
    }
</script>
