@model SymViewModel.Tax.TaxSlabVM
@using UIHelper.MVC
@{
    ViewBag.Title = "Edit";
    ViewBag.Location = "Edit"; 
}
@using (Html.BeginForm("TaxSlabEdit", "TaxSetup", FormMethod.Post, new { @Id = "frmtxts" }))
{
    @Html.ValidationSummary(true)
    <div class="thinbox">
         @Html.HiddenFor(model => model.Id)
         @Html.HiddenFor(model => model.TXSetupId)
         <div class="row">
            <label class="col-sm-5">
                @Html.LabelFor(model => model.Step)
            </label>
            <div class="col-sm-7">
                @Html.TextBoxFor(model => model.Step, new { @placeholder = "Step", @class =" required form-control" })
            </div>
        </div>
         
          <div class="row">
            <label class="col-sm-5">
                @Html.LabelFor(model => model.MaxRange)
            </label>
            <div class="col-sm-7">
                @Html.TextBoxFor(model => model.MaxRange, new { @placeholder = "Max Range", @class =" required form-control" })
            </div>
        </div>
          <div class="row">
            <label class="col-sm-5">
                @Html.LabelFor(model => model.Rate)
            </label>
            <div class="col-sm-7">
                @Html.TextBoxFor(model => model.Rate, new { @placeholder = "Rate", @class =" required form-control" })
            </div>
        </div>
        
        
          
        <div class="row">
            <label class="col-sm-5">
                @Html.LabelFor(model => model.Remarks)
            </label>
            <div class="col-sm-7">
                @Html.TextAreaFor(model => model.Remarks, new { @placeholder = "Remarks", @class ="form-control" })
                @Html.ValidationMessageFor(model => model.Remarks)
            </div>
        </div>
        <div class="row">
            <label class="col-sm-5">
				  <button type="button" title="Save Data" onclick="pageSubmit('frmtxts');" class="sym-btn-save">&nbsp;Save</button>
            </label>
            <label class="col-sm-7">
			 <button type="button" title="Cancel Data" class=" btncancel sym-btn-cancel">&nbsp;Cancel</button>
            </label>
        </div>
        </div>
}
  <script>
      $(function () {
          InitDropDowns();
          valiDation("frmtxts");
      });
  </script>