@using UIHelper.MVC
@Html.ValidationSummary(true)

<div class="headrow">
    <button type="button" title="Update Data" id="" class="UpdateJSONSASalary sym-btn-save">&nbsp;Update</button>
    <label class="pull-right">Update @ViewBag.tType Tax Detail</label>
</div>
<div class="thinbox">
    <div class="th_thinbox">
        <p>Update @ViewBag.tType Tax Detail</p>
    </div>
    <div class="BankBranch">
        <div class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    <label>Year</label>
                </div>
                <div class="editor-field">
                    <div>@Html.TextBox("Year", @Session["SessionYear"].ToString(), new { @Id = "fYear", @class = "fiscalyearCom form-control" }) </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-label">
                    <label>Fiscal Period</label>
                </div>
                <div class="editor-field">
                    <div>
                        @Html.SimpleDropDown("FiscalPeriod", "/Config/DropDown/DropDownPeriodByFYear?year=" + @Session["SessionYear"].ToString(), new { @Id = "FiscalPeriodDetailId", @class = " fpDetailsCom required form-control" })
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="headrow">
    <button type="button" title="Update Data" id="" class="UpdateJSONSASalary sym-btn-save">&nbsp;Update</button>
</div>

<script>
    $(function () {
        InitDropdownsCommon();
    });

    $('.UpdateJSONSASalary').click(function () {
        var FiscalPeriodDetailId = $("#FiscalPeriodDetailId").val();
        if (FiscalPeriodDetailId == "") {
            ShowResult("Fail", "Please Select the Fiscal Period");
            return;
        }


        //////var url = "/Tax/TaxSchedule/UpdateSalaryTaxDetail?fydid=" + FiscalPeriodDetailId + "&tType=@ViewBag.tType";

        //////submit(url);

        var url = "/Common/FiscalYear/FiscalPeriodLockCheck?FiscalYearDetailId=" + FiscalPeriodDetailId;

        $.ajax({
            url: url
               , type: 'Post'
               , traditional: true
               , beforeSend: function () { $(".loading").show(); }
               , success: DataProcess
            , complete: function () { $(".loading").fadeOut(200).hide("slow") }
        });


    });


    function DataProcess(result) {

        var results = result.split("~");

        if (results[0].toLowerCase() == 'true') {

            ShowResult("Fail", results[1]);

        }
        else {

            var FiscalPeriodDetailId = $("#FiscalPeriodDetailId").val();

            var url = "/Tax/TaxSchedule/UpdateSalaryTaxDetail?fydid=" + FiscalPeriodDetailId + "&tType=@ViewBag.tType" + "&advanceTAX=@ViewBag.advanceTAX";

            submit(url);

        }

    }


</script>
