@model SymViewModel.Leave.LeaveStructureVM

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.BranchId)
    <div class="thinbox">
        <div class="row">
            <div class="col-md-3">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Code)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Code, new { @placeholder = "Leave Code", @class ="required form-control" })
                    @Html.ValidationMessageFor(model => model.Code)
                </div>
            </div>
            <div class="col-md-3">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Name, new { @placeholder = "Leave Name", @class ="required form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="col-md-3">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Remarks)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Remarks, new { @placeholder = "Remarks",@rows="1", @class =" form-control" })
                    @Html.ValidationMessageFor(model => model.Remarks)
                </div>
            </div>
            <div class="col-md-3">
                <div class="editor-label">
                    @Html.LabelFor(model => model.IsActive)
                </div>
                <div class="editor-field center">
                    @Html.CheckBoxFor(model => model.IsActive, new { @placeholder = "Is it Active?", @class ="form-control" })
                    @Html.ValidationMessageFor(model => model.IsActive)
                </div>
            </div>
        </div>
    </div>
    <p>
         <button type="Submit" title="Click to Save"  class="Save sym-btn-save">&nbsp;Save</button>

        @*<input type="submit" value="Save" />*@
    </p>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
